<footer>
  <div class="footer-content">
    <div class="row">
      <div class="footer-logo">
        <span>DaCry</span>
        <img src="/static/img/logo/DaCry.png" alt="DaCry Logo">
      </div>
      <div class="footer-statement">
        <p>
          DaCry, Inc.® is a small organisation founded and established
          by Mlambo Dakarai Kushata, a software and web developer, graphic
          designer, coach of various sporting disciplines and a former tutor.
          DaCry name is used for the brand name. In Harare, DaCry,
          operates in various economic sectors.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="footer-copy">
        <p>Copyright &copy; 2013-25 <a href="#da-cry">DaCry</a>. All rights reserved.</p>
      </div>
      <div class="footer-socials">
        <a href="#"><span class="icon"><ion-icon name="logo-facebook"></ion-icon></span></a>
        <a href="#"><span class="icon"><ion-icon name="logo-instagram"></ion-icon></span></a>
        <a href="#"><span class="icon"><ion-icon name="logo-linkedin"></ion-icon></span></a>
        <a href="#"><span class="icon"><ion-icon name="logo-github"></ion-icon></span></a>
        <a href="#"><span class="icon"><ion-icon name="logo-tiktok"></ion-icon></span></a>
        <a href="#"><span class="icon"><ion-icon name="logo-whatsapp"></ion-icon></span></a>
      </div>
      <div class="footer-links">
        <a href="#">Home</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Privacy Policy</a>
        <a href="#about">About</a>
      </div>
    </div>
  </div>
</footer>